.button {
  border: none;
  background-color: $main-color;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  width: 153px;
  height: 32px;
  text-transform: uppercase;

  &:hover {
    background-color: #971010;
  }

  &_main {
    width: 303px;
    height: 54px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 67px; //hover в медиа прописать
  }

  &_submit {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    height: 54px;
  }
}