.carousel {
  padding: 81px 0;

  &__inner {
    width: 750px;
    margin: 0 auto;
    position: relative;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -66px;
    border: none;
    background-color: #fff;
    img {
      width: 31px;
      height: 50px;
    }
  }
  .slick-next {
    left: auto;
    right: -66px;
  }
  .slick-dots {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  .slick-dots button {
    border: 2px solid $main-color;
    margin: 5px;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    padding: 0;
  }
  .slick-dots li.slick-active button {
    background-color: $main-color;
  }
}
